<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/main.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="js/jquery-3.5.1.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="js/bootstrap.min.js"></script>
		<link rel="shortcut icon" href="favicon.ico">
	</head>

	<script>
		var evidenceFound = new Array(3);
		evidenceFound[0] = "";
		evidenceFound[1] = "";
		evidenceFound[2] = "";

		var ghosts = new Array(12);
		for (var i = 0; i < ghosts.length; i++) {
			ghosts[i] = new Array(5);
		}

		var evidence = new Array(6);
		for (var i = 0; i < evidence.length; i++) {
			evidence[i] = new Array(2);
		}
		function loadDefault()
		{
			ghosts[0][0] = "Phantom";
			ghosts[0][1] = "Temps";
			ghosts[0][2] = "EMF";
			ghosts[0][3] = "Orbs";
			ghosts[0][4] = "Drains sanity x2 when viewing (0.4%). Taking its picture will make it invisible, pictures will tag as Ghost but the Phantom will not be visible in the picture. Phantoms blink slower (1s-2s instead of 0.3s-1s) during a hunt.";
			ghosts[0][5] = 0;
			
			ghosts[1][0] = "Banshee";
			ghosts[1][1] = "Temps";
			ghosts[1][2] = "EMF";
			ghosts[1][3] = "Prints";
			ghosts[1][4] = "Targets one person at a time (First living player) and ignores 50% sanity thresholds for hunts, so it can start a hunt as soon as you enter the building. The crucifix range is increased from 3m to 5m.";
			ghosts[1][5] = 0;

			ghosts[2][0] = "Mare";
			ghosts[2][1] = "Temps";
			ghosts[2][2] = "Orbs";
			ghosts[2][3] = "SP-Box";
			ghosts[2][4] = "Aggressive in the dark and loves to turn the lights/breaker off, usually does not turn lights back on. Only attacks below 40% sanity when lights are on. Roams a lot.";
			ghosts[2][5] = 0;

			ghosts[3][0] = "Yurie";
			ghosts[3][1] = "Temps";
			ghosts[3][2] = "Writing";
			ghosts[3][3] = "Orbs";
			ghosts[3][4] = "Double sanity drain when viewing (0.4% instead of 0.2%). Smudging will prevent it from wandering for 90 seconds. Roams a lot.";
			ghosts[3][5] = 0;

			ghosts[4][0] = "Demon";
			ghosts[4][1] = "Temps";
			ghosts[4][2] = "SP-Box";
			ghosts[4][3] = "Writing";
			ghosts[4][4] = "Highly aggressive, it will hunt way more than other ghosts and early crucifix use is highly recommended. Ouija Board will not drain sanity.";
			ghosts[4][5] = 0;

			ghosts[5][0] = "Wraith";
			ghosts[5][1] = "Temps";
			ghosts[5][2] = "SP-Box";
			ghosts[5][3] = "Prints";
			ghosts[5][4] = "Has the ability of flight and can see through doors and move through walls. Salt is toxic to a Wraith and they leave no salt footprints. Can teleport close to a player.";
			ghosts[5][5] = 0;

			ghosts[6][0] = "Jinn";
			ghosts[6][1] = "EMF";
			ghosts[6][2] = "Orbs";
			ghosts[6][3] = "SP-Box";
			ghosts[6][4] = "Moves fast when further than 4m away, turning off breaker stops this. Doesn't normally purposely turn off breaker but it loves playing with electronics/lights, so it may accidentally trip the breaker.";
			ghosts[6][5] = 0;

			ghosts[7][0] = "Shade";
			ghosts[7][1] = "EMF";
			ghosts[7][2] = "Orbs";
			ghosts[7][3] = "Writing";
			ghosts[7][4] = "A 'shy ghost' and will not usually hunt if there are multiple people nearby. Harder to find evidence while in groups but very active for a single person with low sanity.";
			ghosts[7][5] = 0;

			ghosts[8][0] = "Oni";
			ghosts[8][1] = "EMF";
			ghosts[8][2] = "SP-Box";
			ghosts[8][3] = "Writing";
			ghosts[8][4] = "+30 activity with multiple people, so may reveal itself early. Wanders a lot near ghost room so may create red herrings. Throws objects at speed without draining sanity.";
			ghosts[8][5] = 0;

			ghosts[9][0] = "Revenant";
			ghosts[9][1] = "EMF";
			ghosts[9][2] = "Writing";
			ghosts[9][3] = "Prints";
			ghosts[9][4] = "Can switch target mid-hunt. Hiding from it will cause it to move slowly, but it will travel twice as fast as players if they are in sight.";
			ghosts[9][5] = 0;

			ghosts[10][0] = "Poltergeist";
			ghosts[10][1] = "Orbs";
			ghosts[10][2] = "SP-Box";
			ghosts[10][3] = "Prints";
			ghosts[10][4] = "Very active and can manipulate multiple objects at the same time, it is quite ineffective in empty rooms. Sanity drops when viewing moving objects at the rate of NumberOfObjects * 2. Roams a lot.";
			ghosts[10][5] = 0;

			ghosts[11][0] = "Spirit";
			ghosts[11][1] = "SP-Box";
			ghosts[11][2] = "Writing";
			ghosts[11][3] = "Prints";
			ghosts[11][4] = "No special abilities. Smudging prevents it from hunting for 180 seconds instead of the usual 90 seconds.";
			ghosts[11][5] = 0;


			evidence[0][0] = "Orbs";
			evidence[0][1] = "Info";
			evidence[0][2] = 0;
			evidence[0][3] = "Orbs.gif";


			evidence[1][0] = "SP-Box";
			evidence[1][1] = "Info";
			evidence[1][2] = 0;
			evidence[1][3] = "SP-Box.png";

			evidence[2][0] = "Writing";
			evidence[2][1] = "Info";
			evidence[2][2] = 0;
			evidence[2][3] = "Writing.png";

			evidence[3][0] = "Prints";
			evidence[3][1] = "Info";
			evidence[3][2] = 0;
			evidence[3][3] = "Prints.png";

			evidence[4][0] = "EMF";
			evidence[4][1] = "Info";
			evidence[4][2] = 0;
			evidence[4][3] = "EMF.png";

			evidence[5][0] = "Temps";
			evidence[5][1] = "Info";
			evidence[5][2] = 0;
			evidence[5][3] = "Temps.png";
		}

		loadDefault();

	</script>

	<body style="background: #333;">
		<div class="container-header" id="select-evidence-header">
			EVIDENCE
		</div>
		<div class="container-body" id="select-evidence">
		 </div>

		<div class="container-header" id="found-evidence-header" style="display:none">
			EVIDENCE FOUND
		</div>
		<div class="container-body" id="found-evidence" style="display:none">
			NONE!
		</div>

		<div class="container-header" id="found-ghost-header" style="display:none">
			GHOST
		</div>
		<div class="container-body-square" id="found-ghost" style="display:none">
			NONE!
		</div>
		<div class="container-footer" id="found-ghost-footer" style="display:none">
			<span class="reset-button" onClick="resetPressed();">RESET</span>
		</div>

	</body>
</html>
<script>
	totalFound = 0;

	function resetPressed()
	{
		location.reload();
		loadDefault();
		populateSelectEvidence();
		populateFoundEvidence();
		populateFoundGhost();
			$('#found-ghost').hide(500);
			$('#found-ghost-header').hide(500);
			$('#found-ghost-footer').hide(500);
	}

	function selectEvidence(evidenceClicked)
	{
		for (var i = 0; i < evidence.length; i++) 
		{
			if ( evidence[i][0] == evidenceClicked )
			{
				evidence[i][2] = 1;
				evidenceFound[totalFound] = evidence[i][0];
				totalFound++;
			}
		}
		
		updateGhosts();
		updateEvidence()

		populateSelectEvidence();
		populateFoundEvidence();
		populateFoundGhost();
		console.log(ghosts);
	}

	function deSelectEvidence(evidenceClicked)
	{
		for (var i = 0; i < evidence.length; i++) {
			if ( evidence[i][0] == evidenceClicked )
			{
				evidence[i][2] = 0;
				totalFound --;
				evidenceFound[totalFound] = "";
			}
		}

		updateGhosts();
		updateEvidence()

		if ( totalFound == 2 )
		{
		}

		populateSelectEvidence();
		populateFoundEvidence();
		populateFoundGhost();
	}

	function updateEvidence()
	{
	
		if ( totalFound == 2 )
		{
			for (var i = 0; i < ghosts.length; i++)
			{
				if ( ghosts[i][5] == 1 )
				{
					for ( var n = 0; n < evidence.length; n++ )
					{
						if ( ghosts[i][1] == evidence[n][0] && evidence[n][2] == 0 )
						{
							evidence[n][2] = 2;
						}
						if ( ghosts[i][2] == evidence[n][0] && evidence[n][2] == 0 )
						{
							evidence[n][2] = 2;
						}
						if ( ghosts[i][3] == evidence[n][0] && evidence[n][2] == 0 )
						{
							evidence[n][2] = 2;
						}
					}
				}
			}
		}
		else
		{
			for ( var n = 0; n < evidence.length; n++ )
			{
				if ( evidence[n][2] != 1)
				{
					evidence[n][2] = 0;
				}
			}

		}
	}		


	function updateGhosts()
	{
		for (var i = 0; i < ghosts.length; i++)
                {
                        var found = 0;
                        for ( var n = 0; n < totalFound; n++)
                        {
                                if ( ghosts[i][1] == evidenceFound[n] || ghosts[i][2] == evidenceFound[n] || ghosts[i][3] == evidenceFound[n] )
                                {
                                        found ++;
                                }
                        }
                        if ( found == totalFound )
                        {
                                ghosts[i][5] = 1;
                        }
                        else
                        {
                                ghosts[i][5] = 0;
                        }
                }
	}

	function populateFoundGhost()
	{
		var eSelect = "";
		for (var i=0; i < ghosts.length; i++)
		{
			if ( ghosts[i][5] != 0 )
			{
				if ( totalFound == 3 )
				{
					eSelect +=  "<span class='g-found' onClick='deSelectEvidence(\"" + ghosts[i][0] + "\");' > "; 
				}
				else
				{
					eSelect +=  "<span class='g-show' onClick='deSelectEvidence(\"" + ghosts[i][0] + "\");' > ";
				}
				eSelect += ghosts[i][0];
				eSelect += "</span>";

				if (totalFound == 3)
				{
					eSelect += '<div class="ghostInfo" ><hr>' + ghosts[i][4] + '<hr></div>';
				}

			}
		}

		if ( totalFound > 0 && totalFound < 3)
		{
			eSelect += '<hr>';
		}
		if ( totalFound == 0 )
		{
			eSelect = "NONE";
			$('#found-ghost').hide(500);
			$('#found-ghost-header').hide(500);
			$('#found-ghost-footer').hide(500);
		} 
		else 
		{
			$('#found-ghost').show(200);
			$('#found-ghost-header').show(200);
			$('#found-ghost-footer').show(200);
		}
		document.getElementById('found-ghost').innerHTML = eSelect;
	}

	function populateFoundEvidence()
	{
		var eSelect = "";
		for (var i=0; i < evidence.length; i++)
		{
			if ( evidence[i][2] == 1 )
			{
				eSelect +=  "<span class='e-select-small' onClick='deSelectEvidence(\"" + evidence[i][0] + "\");' > "; 
				eSelect += "<img class='s-image-small' src='images/" + evidence[i][3] + "' >";
				eSelect += "</span>";
			}
		}

		if ( eSelect == "" )
		{
			eSelect = "NONE";
			$('#found-evidence').hide(500);
			$('#found-evidence-header').hide(500);
		} 
		else 
		{
			$('#found-evidence').show(200);
			$('#found-evidence-header').show(200);
		}

		document.getElementById('found-evidence').innerHTML = eSelect;
	}

	function populateSelectEvidence()
	{
		var eSelect = "";
		for (var i=0; i < evidence.length; i++)
		{
			if ( ( totalFound < 2 && evidence[i][2] == 0 ) || ( totalFound == 2 && evidence[i][2] == 2  ) )
			{
				eSelect +=  "<span class='e-select' onClick='selectEvidence(\"" + evidence[i][0] + "\");' > "; 
				eSelect += "<img class='s-image' src='images/" + evidence[i][3] + "' >";
				eSelect += "</span>";
			}
		}

		if ( eSelect == "" || totalFound >= 3)
		{
			eSelect = "DONE";
			$('#select-evidence').hide(500);
			$('#select-evidence-header').hide(500);
		} 
		else 
		{
			$('#select-evidence').show(200);
			$('#select-evidence-header').show(200);
		}

		document.getElementById('select-evidence').innerHTML = eSelect;
	}

	populateSelectEvidence();
	populateFoundEvidence();

</script>

